<section class="form-btns position-fixed" >
    <a asp-action="Index" asp-route-id="" class="btn btn-info">@Resource.btn_New</a>
    <button class="btn btn-primary btn-save" asp-action="Save">@Resource.btn_Save</button>
    <button class="btn btn-warning btn-edit" asp-action="Edit">@Resource.btn_Edit</button>
    <button type="button" class="btn btn-danger btn-delete">@Resource.btn_Delete</button>
    <a asp-action="Search" class="btn btn-outline-info btnserach">@Resource.lbl_Search</a>
</section>
<div class="" style="min-height:50px ; min-width:100%;">    
</div>